<%= @title %>
<%= form_for @eqp, :url => { :action => :eqp_create, :id => @id } do |form| %>
	<p>Наименование: <%= form.text_field :name, :size => 30 %></p>
	<% if @p1!="" %>
	    <p><%= @p1 %> <%= form.text_field :v1, :size => 30 %></p>
	<% end %>
	<% if @p2!="" %>
	    <p><%= @p2 %> <%= form.text_field :v2, :size => 30 %></p>
	<% end %>
	<% if @p3!="" %>
		<p><%= @p3 %> <%= form.text_field :v3, :size => 30 %></p>
	<% end %>
	<% if @p4!="" %>
		<p><%= @p4 %> <%= form.text_field :v4, :size => 30 %></p>
	<% end %>
	<p><%= form.submit "Добавить"  %></p>
<% end %>