<%= form_for @eqp, :url => { :action => :eqp_create, :id => @id } do |form| %>
	<p>Наименование: <%= form.text_field :name, :size => 30 %></p>
	<p><%= @p1 %> <%= form.text_field :v1, :size => 30 %></p>
	<p><%= @p2 %> <%= form.text_field :v1, :size => 30 %></p>
	<p><%= @p3 %> <%= form.text_field :v1, :size => 30 %></p>
	<p><%= @p4 %> <%= form.text_field :v1, :size => 30 %></p>
	<p><%= form.submit "Добавить"  %></p>
<% end %>