Форма
<%= form_for @eqpgroup, :url => { :action => :eqpgroup_update, :eqpfamily_id => @eqpfamily.id, :id => @eqpgroup.id } do |form| %>
	<p>Наименование: <%= form.text_field :name, :size => 30 %></p>
	<p>Параметр №1: <%= form.text_field :p1, :size => 30 %></p>
	<p>Параметр №2: <%= form.text_field :p2, :size => 30 %></p>
	<p>Параметр №3: <%= form.text_field :p3, :size => 30 %></p>
	<p>Параметр №4: <%= form.text_field :p4, :size => 30 %></p>
	<p><%= form.submit "Изменить"  %></p>
<% end %>