<%= form_for(@setting) do |f| %>
  <% if @setting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@setting.errors.count, "error") %> prohibited this setting from being saved:</h2>

      <ul>
      <% @setting.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :site_name %><br />
    <%= f.text_field :site_name %>
  </div>
  <div class="field">
    <%= f.label :meta_keywords %><br />
    <%= f.text_area :meta_keywords %>
  </div>
  <div class="field">
    <%= f.label :meta_description %><br />
    <%= f.text_area :meta_description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
