<h1>Listing settings</h1>

<table>
  <tr>
    <th>Site name</th>
    <th>Meta keywords</th>
    <th>Meta description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @settings.each do |setting| %>
  <tr>
    <td><%= setting.site_name %></td>
    <td><%= setting.meta_keywords %></td>
    <td><%= setting.meta_description %></td>
    <td><%= link_to 'Show', setting %></td>
    <td><%= link_to 'Edit', edit_setting_path(setting) %></td>
  </tr>
<% end %>
</table>

<br />

