
<%= form_for @postmail, :url => {  :action => :sendmail }  do |f| %>

  <% if @postmail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@postmail.errors.count, "error") %> prohibited this postmail from being saved:</h2>

      <ul>
      <% @postmail.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<table>
		<tr>
			<td> <h4>Письмо с сайта</h4>
			</td>
		</tr>
	</table>
	
	<table class="form-table data-table" style="font-size: 12px;" border="0">
		<tbody>

			<tr>
				<td style="width:150px;padding:6px; text-align:right;">	Ф.И.О: <font color='red'><span class='form-required starrequired'>*</span></font>
				</td>
				<td style="padding:6px;">	<%= f.text_field :fullname,  :size => 50 %>
				</td>
			</tr>


			<tr>
				<td style="width:150px;padding:6px; text-align:right;">	Телефон: <font color='red'><span class='form-required starrequired'>*</span></font>
				</td>
				<td style="padding:6px;"><%= f.text_field :phone, :size => 50 %>
				</td>
			</tr>

			<tr>
				<td style="width:150px;padding:6px; text-align:right;">E-mail: <font color='red'><span class='form-required starrequired'>*</span></font>
				</td>
				<td style="padding:6px;"><%= f.text_field :email, :size => 50 %>
				</td>
			</tr>

			<tr>
				<td style="width:150px;padding:6px; text-align:right;">
								Сообщение: <font color='red'><span class='form-required starrequired'>*</span></font>
							</td>
				<td style="padding:6px;"><%= f.text_area :message, :size=>"60x20" %>
				</td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<td></td>
				<td style="padding: 6px">
					<%= f.submit 'Отправить' %>
					<p><font color='red'><span class='form-required starrequired'>*</span></font> - Поля, обязательные для заполнения</p>
				</th>
			</tr>
		</tfoot>		
	</table>

<% end %>
