<h1>Отправить письмо с сайта</h1>
<p>Введите Ваше сообщение</p>

<%= form_tag :action => 'sendmail' do  %>

<p>
    Тема сообщения:<br />
    <%= text_field_tag "subject" %>
</p>

<p>
   Тип сообщения: <br />
  <%= select_tag("mailtype", options_for_select([['Письмо руководителю', '1'],
                       ['Письмо менеджеру', '2'],['Письмо в группу сервиса','3']], '3')) %>
      </p>

<p>
    Текст письма:<br />
    <%= text_area_tag "description", "", :size=>"50x20" %>
</p>


<p>
    <%= submit_tag 'Отправить' %>
</p>

<% end %>