		<hr>
		<div id="navmain" class="span-24 last">		    
		    <%= link_to "Каталог", 		admin_path %> |
		    <%= link_to "Пользователи",  	users_path %> |
		    <%= link_to "Письма",		postmails_path %> |
		    <%= link_to "Настройки",		settings_path %> |
		    <%= link_to "Выход",  		logout_path %> 
		</div>
		<hr>