		<hr>
		<div id="navmain" class="span-24 last">
		    <%= link_to "Главная", 		main_path %> | 
		    <%= link_to "Каталог", 		catalog_path %> |
		    <%= link_to "Услуги",  		service_path %> |
		    <%= link_to "Контакты", 		contact_path %> |
		    <%= link_to "Отправить письмо", 	sendmail_path %>
		</div>
		<hr>