<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <title><%= title %></title>
  <%= csrf_meta_tag %>
  <%= render 'layouts/stylesheets' %>
                                                                                      
</head>
<body>
    <div class="container">
	<!– header –>
	<div class="span-24 header">Header</div>
	 
	<!– content –>
	
	<div class="span-5 ">
	    <%= render 'layouts/sidebaradmin' %>
	</div>
	
	<div class="span-18">
	    <%= yield %>
	</div>
	 

	<!– footer –>
	<div class="span-24 footer">
	    Тех помощь: mgerasim.mail@gmail.com
	</div>
	
    </div>
</body>
</html>
