<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <title><%= title %></title>
  <%= csrf_meta_tag %>
  <%= render 'layouts/stylesheets' %>
                                                                                      
</head>
<body>
    <div class="container">
	<!– header –>
	<div class="header">
		Header<br><br>
	</div>
	 
	<!– content –>
	
	<div class="span-8 ">
		<div class="title-content">
			Меню
		</div>
		<%= render 'layouts/sidebaradmin' %>
	</div>
	
	<div class="span-16 last">
	    <%= yield %>
	</div>
	 

	<!– footer –>
	<div class="footer">
	    Тех помощь: mgerasim.mail@gmail.com
	</div>
	
    </div>
</body>
</html>
