<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <title><%= title %></title>
  <%= csrf_meta_tag %>
  <%= render 'layouts/stylesheets' %>
                                                                                      
</head>
<body>
    <div class="container">
		<!– header –>
		<header class="span-24 last">
		    <div id="contact" class="span-10" first>
				<h4 class="alt">
				    г.Хабаровск<br>
				    ул. Комсомольская, 96<br>
				    тел.:
				</h4>
		    </div>
		    <div id="logo" class="span-10 right last">
				<img src="/images/rosholod_logo.jpg" width="365" height="80">
		    </div>
		</header>
	 	<hr>
		<div id="subheader" class="span-24 last">
		    <h3 class="alt">Админиcтрирование сайта ЗАО "Росхолод"</h3>
		</div>
		<hr>
		<!– content –>
		<div id="wrapper">
			<div class="span-6 first" id="sidebar">
				<ul>
				    <%= render 'layouts/sidebaradmin' %>'
				</ul>	
			</div>
			<div id="content" class="span-17 last">			
			    <%= yield %>
			</div>
		</div>
		<%= render 'layouts/footer' %>
    </div>
</body>
</html>
