<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <title><%= title %></title>
  <%= csrf_meta_tag %>
  <%= render 'layouts/stylesheets' %>
                                                                                      
</head>
<body>
    <div class="container">
	<header>
	</header>
	<section class="round">
	    <h1><%= @title %></h1>
	    <%= yield %>
	</section>
	<footer>
	</footer>
    </div>
</body>
</html>
